html,body{
  margin: 0;
  padding: 0;
  overflow: auto;
}
.hero{
  background-image: url("pozadina.jpg");
  background-size: cover;
  height: calc(100vh);
  border-radius: 0;
}
#navFix{
  background-color: rgba(255, 255, 255, 0.95)!important;
  backdrop-filter: blur(5px);
  opacity: 95%;
  position: fixed; top: 0px; right: 0px;
  z-index: 1;
  width: 100%;
  text-align: right;
  height: 80px;
}
.nav-position{
  display: flex;
  align-items: center;
  justify-content: right;
}
#ham{
  background-color: silver;
}
.link{
  font-weight: 500;
  text-transform: uppercase;
  color: black !important;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.link:hover{
  color: rgba(255, 145, 0, 0.918)!important;
  opacity: 0.8;
}
#id, #id1, #id2, #id3{
  padding: 20px 10px 20px 30px;
}
.position-header{
  position: absolute; left: 10px; top: 100px;
}
.header-h1{
  color: white;
  font-size: 70px;
  font-weight: 600;
}
.header-h1 span{
  color:rgba(255, 145, 0, 0.918);
  font-weight: 900;
  font-size: 100px;
  font-family: 'Arial Black', Gadget, sans-serif;
}
.text{
  position: absolute; top: 480px;  left: -172%;
}
#ghost, #dugme{
  color: black;
  background-color: white;
  opacity: 90%;/*
  border: 2px solid rgba(255, 255, 255, 0.8);*/
  border-radius: 20px;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none !important;
  transition: 0.3s ease;
}
#ghost:hover{
  color: white !important;
  background-color: rgba(255, 145, 0, 0.918);
  color: black;
}
#dugme{
  position: relative;
  left: 10%;
 /* z-index: 1;
  position: absolute; bottom: 100px; right: 0px;*/
}
#dugme:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  opacity: 0.9;
}
.dimenzije{
  width: 600px;
  height: 600px;
}
.carousel-inner{
  width: 600px;
  height: 600px;
  border-radius: 30px;
}
#prvi_carousel{
  margin-top: 100px;
  margin-left: 270px;
  margin-bottom: 100px;
  border-radius: 20px;
}
#dugme1{
color: white;
background-color: rgb(255, 145, 0);
font-size: 15px;
font-weight: 500;
padding: 10px 30px;
margin-top: 30px;
text-decoration: none;
border-radius: 15px;
}
#dugme1:hover{
  color: black;
  background-color: none;
  border: 1px solid rgb(255, 145, 0);
}
.zajedno h3{
  font-size: 30px;
  font-weight: 700 !important;
  /*margin-top: 0px;*/
  margin-bottom: 40px;
}
.zajedno p{
  line-height: 140%;
  font-size: 18px;
  margin-top: 25px;
  margin-right: 25px;
  text-align: justify;
}
.zajedno h3,p{
  font-weight: 400;
}
.zajedno{
  margin-top: 40px;
}
.red{
  margin-top: 30px;
  margin-left: 200px !important;
}
.kartica{
  width: 380px;
  margin-left: 70px;
  margin-bottom: 30px;
}
.slikaD{
  height: 253px !important;
}
.div{
  background-color: rgb(255, 145, 0);
  height: 335px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.paragraf{
  line-height: 125%;
  text-align: center;
  padding: 10px 40px 30px 40px;
}
.card-naslov, .card-tekst {
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.card-naslov{
  line-height: 130%;
  font-size: 30px;
  font-weight: 600;
}
.card-tekst{
  margin-top: 30px;
}
.futer{
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social{
  height: 80px;
  margin: 10px 0px 10px 0px;
}
#copyright{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.margina{
  margin-left: 10px;
}
/*dagadjaji*/
.hero-image{
  background-image: url('dzez1.jpg');
  background-size: cover;
  height: calc(100vh);
  border-radius: 0;
}
.heading{
  background-color:  rgb(255, 145, 0);
  height: 100px;
  margin-top: -35px;
  letter-spacing: 5px;
}
.kol{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h1{
  color: white;
}
.prvi-red{
  margin-top: 50px;
}
.mefisto{
  background-image: url('crveni_mefisto.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 200px;
  margin-top: 60px;
}
.mar{
  margin-left: 140px;
  margin-top: 100px;
}
.festival{
  background-image: url('jazz.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  margin-top: 100px;
}
.dzez{
  background-image: url('exit.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  margin-top: 150px;
  margin-left: 200px;
}
.tekstic{
  margin-top: 140px;
}
.pasus, .naslov-h1{
  margin: 50px 50px;
  text-align: justify;
  font-size: 18px;
}
.naslov-h1{
  font-weight: 600;
  font-size: 30px;
}
/*ISTORIJA*/
.first-row{
  margin-top: 110px;
}
.second-row{
  margin-top: 80px;
}
.pasus-novi, .naslov-h1-novi{
  margin: 50px;
  margin-top: 65px;
  margin-left: 30px;
  text-align: justify;
  font-size: 18px;
    margin-left: 200px;
}
.naslov-h1-novi{
  font-size: 45px;
  font-weight: 600;
}
.novi-sad{
  background-image: url('novi-sad.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
  margin-left: 210px;
}
.centar{
  background-image: url('centar.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
  margin-right: 200px;
  margin-top: 40px;
}
.pasuss{
  font-size: 18px !important;
  font-weight: 500 !important;
}
.blue-color{
  background-color: rgb(255, 145, 0);
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 160px !important;
  padding-right: 250px !important;
  margin: 100px 0px 100px 0px;
}
.djava{
  background-image: url('images.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  margin: 20px 80px;
}
.images{
  background-image: url('sat.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  margin: 20px 20px;
}
/*info*/
.row-blue{
  background-color: rgb(255, 145, 0);
  color: white;
  margin-top: 20px;
}
.kontakt_stranica{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
}
.kontakt_stranica1{
  margin-top: 30px;
  text-align: center;
}
.tekst-prvi-red p{
  margin: 250px;
  font-style: normal;
  text-align: justify;
  font-size: 18px;
}
form{
  margin-left: -20px;
  margin-right: 200px;
  padding: 50px;
  border: none;
  /*adding-top: 10px;*/
}
form p{
  font-size: 20px;
  margin: 25px 0px 10px 0px;
  font-style: normal;
}
.teksta{
  width: 450px;
  border: none;
}
input{
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 450px;
  font-size: 18px;
  padding: 10px 20px;
}
input:hover{
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.2s ease;
}
textarea{
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px 20px 50px 0;
}
textarea:hover{
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.2s ease;
}
.dugme-forma{
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: black!important;
  border: none;
  background-color: white!important;
  border-radius: 20px!important;
  display: block;
  margin: 30px 0 20px 0px;
  transition: 0.3s ease!important;
}
.dugme-forma:hover{
  background-color: black!important;
  color: white!important;
}
.iframe{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.modal-boja{
  color: black;
}